/**********************************************************************
Font
**********************************************************************/
/* latin */
@font-face {
    font-family: 'Junge';
    font-style: normal;
    font-weight: 400;
    src: local('Junge'), local('Junge-Regular'), url(https://fonts.gstatic.com/s/junge/v5/gokgH670Gl1lUpAatBE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**********************************
font-family: 'Junge', serif;
font-family: 'Roboto', sans-serif;
**********************************/

/**********************************************************************
Keyframes
**********************************************************************/

@keyframes arrowmotion {
    from {
        padding-left: 0;
    }

    to {
        padding-left: 0.8rem;
    }
}

@keyframes fadeOut {
    0% { width: 100%; opacity: 1; }
    100% { width: 0; opacity: 0; }
}

@keyframes fadeIn {
    0% { height: 0; opacity: 0; }
    100% { height: 100%; opacity: 1; }
}

/**********************************************************************
Global styling
**********************************************************************/
html {
    font-size: 15px;
}

p, h1, h2, h3, h4, h5, h6, a, li {
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}


blockquote {
    margin: 1rem auto;
    padding-bottom: 3rem;
    color: #31708f;
    font-size: 0.8rem;
}

blockquote p {
    float: left;
    padding: 0.5rem;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.container-md {
    max-width: 980px;
    margin: auto;
    position:relative;
}

.bold {
    font-weight: bold !important;
}

.oblique {
    font-style: oblique;
}

.highlight {
    font-size: 1.5rem
}

.active {
    background-color: #F2F2F2 !important;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.visible {
    overflow: visible !important;
    height: auto !important;
    animation: fadeIn 0.8s;
}

.blue {
    color: #7EB3FF;
}

.red {
    color: #721C24;
}

.green {
    color: #155724;
}

.valid {
    background-color: #D4EDDA !important;
    color: #62946E !important;
}

.invalid {
    color: #721C24 !important;
    background-color: #F8D7DA !important;
}

.alert, .success {
    padding: 0.4rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    animation: fadeIn 0.6s;
}

.alert {
    background-color: #FFF3CD;
    color: #856404;
}

.success {
    background-color: #D4EDDA;
    color: #155724;
}

.informative, .note {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.8rem;
}

.informative {
    background: #cce5ff;
    color: #004085;
    border-color: #b8daff;
}

.note {
    background: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.jump-arrow {
    position: fixed;
    width: 2rem;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.jump-arrow:hover {
    cursor: pointer;
}

.jump-arrow img  {
    width: 100%;
}

.up {
    top: 55%;
    left: -2px;
}

.down {
    top: 75%;
    left: -4px;
}

.button-href{
    margin: 2rem 0;
    width: 12rem;
    transform: scale(1);
    -moz-transform: scale(1);
    transition: transform 200ms ease-in;
}

.button-href a{
    background-color: #cce5ff !important;
    color: #004085 !important;
    padding: .75rem 1.25rem !important;
    border: 1px solid #b8daff !important;
    border-radius: .25rem !important;
}

.button-href:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**********************************************************************
Navigation
**********************************************************************/

#navigation {
    border-bottom: solid 0.1rem #F2F2F2;
    position: fixed;
    top:0;
    z-index: 2;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    transition: top ease-in-out 0.7s;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-wrap {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.nav-container li {
    display: inline;
    font-size: 1.2rem;
    border-bottom: solid #7EB3FF;
    border-radius: 0;
    background-color: inherit;
    padding: 0.5rem 0;
    margin: 0 1rem;
    -webkit-transition: background-color 0.5s, border-radius 0.5s; /* Safari */
    transition: background-color 0.5s, border-radius 0.5s;
}

.nav-container li:hover {
    background-color: #F2F2F2;
    border-radius: 0.15rem;
    cursor:pointer;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation .button {
    display: none;
}

#navigation .button img {
    min-width: 1rem;
    max-width: 2rem;
    margin: 0 1rem;
}

.logo {
    max-width: 400px;
}

.logo img {
    width: 100%;
}

.logo-onshrink {
    width: 150px;
}

.logo-onshrink img {
    display: none;
    max-width: 100%;
    height: auto;
    width: auto;
}

.nav-wrap {
    display: none;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem 0;
    max-width: 100%;
}

@media only screen and (max-width: 920px) {

    .logo {
        max-width: 300px;
    }

    .nav-container li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 720px) {

    .logo {
        padding: 3rem 0;
    }

    .nav-wrap {
        display: flex;
        width: 100%;
    }

    .logo-wrap {
        order: 1;
    }


    .main-information {
        padding-top: 300px !important;
    }

    #navigation .button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
    }

    .nav-ul {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: auto;
        transition: max-height 400ms;
        max-height: 80vh;
    }

    .nav-ul {
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
    }
    .nav-ul::-webkit-scrollbar {
        display: none;  // Safari and Chrome
    }

    nav {
        width: 100%;
    }

    .nav-ul li {
        display: flex;
        justify-content: center;
        border-bottom: solid 0.1rem #F2F2F2;
        width: 100%;
        margin: 0 auto;
    }

    .hide-ul {
        max-height: 0;
    }

}

/**********************************************************************
Footer section
**********************************************************************/

footer {
    max-height: 20rem;
    background-color: #004085;
    color: #ffffff;
    padding: 5rem 2rem;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.footer a, footer p {
    color: #7EB3FF;
    text-decoration: none;
    padding: 1rem 0;
    transition: color 0.3s ease-in;
}

.footer a:hover {
    color: white;
}

@media only screen and (max-width: 350px) {
    footer {
        font-size: 0.8rem;
    }

}
/**********************************************************************
Landing page section
**********************************************************************/

/**********************************************************************
Header section
**********************************************************************/

header {
    position: relative;
    padding-top: 200px;
    height: 60rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    background-image: url("../img/bigben.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff !important;

}

.header-wrap {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.header-wrap h1, .header-wrap h3 {
    background-color: rgba(33, 150, 243, 0.13);
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: #2196f321;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.content-elem-img a {
    text-decoration: none;
    background: transparent !important;

}

.content-elem {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.content-elem-img {
    padding: 2rem;
}

.content-elem-text {
    padding: 1rem 2rem;
}

.content-elem-text p {
    padding: 0.5rem 0;
}

.content-elem-text h2 {
    color: #004085;
    font-size: 3rem;
    font-weight: bolder;
}

.content-elem-img img {
    width: 20rem;
    height: auto;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0,0,0,0.15);
    transition: all .2s ease-in-out;
}

.content-elem-img img:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.content-presentation {
    padding: 3rem 0;
    background: #F2F2F2;
}

@media only screen and (max-width: 1200px) {
    .content-elem-img img {
        width: 15rem;
    }
}

@media only screen and (max-width: 980px) {

    .content-elem-img img {
        width: 10rem;
    }

    .content-elem-text h2 {
        font-size: 2rem;
    }

    .header-wrap {
        font-size: 20px;
    }

    header {
        height: 30rem;
    }
}

@media only screen and (max-width: 720px) {

    .content-elem-img img {
        width: 10rem;
    }

    .content-elem-text h2 {
        font-size: 2rem;
    }

    .content-elem-text p {
        text-align: center;
    }

    .content-elem {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .header-wrap {
        font-size: 15px;
    }

    header {
        height: 20rem;
    }
}

@media only screen and (max-width: 480px) {
    .header-wrap {
        font-size: 10px;
    }
}

@media only screen and (max-device-width: 1366px) {
    header {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 720px) {
    header {
        padding-top: 100px;
        margin-top: 200px;
    }

}

/**********************************************************************
Practice page
**********************************************************************/


/**********************************************************************
Quiz Button section
**********************************************************************/

#welcome {
    width: 100%;
    padding-top: 200px;
    background: #7EB3FF url("../img/texture.png");
}

#welcome button {
    width: 8rem;
    height: 3rem;
    padding:  0.5rem 1rem;
    border-radius: 0.35rem;
    background-color: #FFCB71;
    margin: 1rem;
    border-width: 0;
    transition: background-color 0.33s;
}

#welcome button:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.quiz-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz-list {
    padding-bottom: 3rem;
}

.intro {
    padding: 0 3rem;
}

@media only screen and (max-width: 720px) {
    #welcome {
        padding-top: 300px;
    }
}

/**********************************************************************
Quiz section
**********************************************************************/

#quiz {
    font-family: 'Junge', serif;
    background-color: #F2F2F2;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.quiz-container {
    background-color: #FEFEFE;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;

}

/* The Close Button */
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFEFE;
    background-color: #dc3545;
    border-radius: 3.33rem;
    float: right;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
}

@keyframes semirotate {
    0% { transform: rotate(0deg) }
    35% { transform: rotate(45deg) }
    65% { transform: rotate(-45deg) }
    100% { transform: rotate(0deg) }
}

.close:hover {
    cursor: pointer;
    animation: semirotate 0.5s linear;
    animation-iteration-count: 1;
}

.answer, .question, .info {
    padding: 0.5rem;
    border-radius: 0.35rem;
    margin: 0.4rem 0.2rem;
}

.answer label:hover {
    cursor: pointer;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;
    font-size: 0.8rem;
    font-style: italic;
    background-color: #FEFEFE;
    color: #818182;
}

#question {
    font-weight: bold;
    background-color: #CCE5FF;
    padding: 1rem;
    margin: 1.5rem 0;
    color: #004085;
    text-align: justify;
}

#answers {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    color: #004085;
    text-align: justify;
}

 .answer:nth-child(2n+0){
    background-color: #E2E3E5;
}

.answer:nth-child(2n+1){
    background-color: #D6D8D9;
}

#info {
    padding: 0.5rem 0;
}

#info h2 {
    padding: 1rem 0;
}

#final-score h3, #final-score p {
    padding: 0.5rem 0;
}

.submit-btn {
    background: linear-gradient(to bottom right, #7eb3ff 0%, #cce5ff 100%);
    color: #004085;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    padding: 0.9rem;
    margin: auto;
    border-radius: 0.2rem;
    letter-spacing: inherit;
    transition: 0.3s ease-in;
}

.submit-btn:active span, .submit-btn:hover  span{
    animation: 0;
}
.submit-btn:hover {
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.submit-btn:active{
    letter-spacing: -0.05rem;
}

.arrow {
    animation-duration: 0.8s;
    animation-name: arrowmotion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#finished {
    display: none;
}


/**********************************************************************
Resources Page
**********************************************************************/

.chapter-title {
    font-size: 1.1rem;
}

.main-information {
    padding-top: 200px;
}

/**********************************************************************
Content list section
**********************************************************************/

.content-list hr {
    margin: 1rem;
}

.content-list {
    width: 0;
    color: #004085;
    background: #cce5ff;
    padding-top: 5rem;
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.95;
    cursor: pointer;
}

.content-list-sections:last-of-type {
    padding-bottom: 3rem;
}

#bookmark {
    position: fixed;
    top: 65%;
    left: -1.5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s;
}

#bookmark[data-animation="semirotate"] {
    animation: semirotate 2s linear;
}

#bookmark img {
    width: 1.7rem;
}

.content-list-nav {
    position: absolute;
    top: 0;
    right: 2rem;
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#top {
    font-size: 1.5rem;
    font-weight: bold;
    color: #721c24;
    display: inherit;
}

#uparrow {
    animation: semirotate 10s linear infinite;
    padding-left: 0.3rem;
}

#close-list {
    font-size: 3rem;
    color: #721c24;
    font-weight: bold;
}

#close-list:hover, #close-list:active, #top:hover, #top:active  {
    transition: 0.5s;
    color: #ffffff;
}

.inner-content-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 17px;
}

.content-list-sections {
    padding: 0 1rem;
    min-width: 18rem;
}

.content-list ul{
    padding: 1rem;
}

.content-list li{
    padding: 0.2rem 0;
}

@media screen and (max-width: 450px) {
    .content-list {padding-top: 1px;}
}


/**********************************************************************
Main information section
**********************************************************************/
.page-content {
    margin: 1.5rem;

}

.page-content li, .intro li {
    list-style-type: square;
    padding: 0.5rem 0;
}

.page-content ul, .intro ul {
    padding: 0 0 0 2rem;
}

.page-content h1 {
    padding: 2rem 0;
}

.page-content h3, .page-content p {
    padding: 1rem 0;
}

.page-content h4 {
    padding-top: 1.35rem;
}

.page-content a, .intro a, .about-us a, .terms a, .content-presentation a {
    background: #7EB3FF;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in 0.3s;
    border-radius: 0.2rem;
    padding: 0 0.1rem;

}

.page-content a:hover, .intro a:hover, .about-us a:hover, .terms a:hover,  .content-presentation a:hover {
    color: #24345C;
}

.page-content hr {
    margin: 3rem 0;
}

.chapter-head {
    position: relative;
    color: #004085;
    background-color: #7EB3FF;
    width: auto;
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
    scroll-behavior: smooth;
    border-left: 1.5rem solid #004085;
    padding: 2rem 0.8rem;
    border-radius: 0.8rem;
}

.new-tab {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #7EB3FF;
    background: #004085;
    font-size: 0.8rem;
    opacity: 1;
    transition: opacity 0.25s;
}

@media screen and (max-width: 360px) {
    .new-tab {
        font-size: 0.6rem;
    }
}

.content {
    overflow: hidden;
    height: 0;
    animation: fadeOut 0.8s;
}

.content.book {
    height: 100%;
    animation: none;
}

.chapter-button {
    padding: 2rem;
    margin: 2rem;
    color:  #7EB3FF;
    background: #004085;
    opacity: 1;
    transition: opacity 0.25s;
    border-radius: 0.4rem;
    text-align: center;
}

.chapter-button:hover, .new-tab:hover {
    opacity: 0.9;
    cursor: pointer;
}

.img-container {
    text-align: center;
    margin: 1rem;
}

.img-wrapper {
    max-width: 600px;
    margin: auto;
}

.online-book img {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 2rem auto;
    color: #3c763d;
}

td, th {
    border: 1px solid #d6e9c6;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dff0d8;
}

.anchor:hover, .anchor:active {
    transition: ease-in 0.5s;
    background-color: #F2F2F2
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.chapter-number {
    color: #004085;
    background-color: #7EB3FF;
    width: auto;
    margin: 0 0.3rem;
    font-size: 0.8rem;
    font-weight: normal;
    cursor: pointer;
    scroll-behavior: smooth;
    border-bottom: 0.2rem solid #004085;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
}

@media only screen and (max-width: 360px) {
    .chapter-number {
       font-size: 0.6rem;
    }
}

/**********************************************************************
About us Page
**********************************************************************/

/**********************************************************************
about-us section
**********************************************************************/

.about-us {
    padding-top: 200px;
    font-size: 1.1rem;
}

.about-us .container {
    max-width: 960px;
    padding: 0 2rem 2rem 2rem;
}

.about-us-info {
    padding: 0 1rem;
    margin: 1.5rem 0;
    border-left: 1rem solid #7EB3FF;
}

.about-us-wrapper {
    margin-bottom: 5rem;
}

.form-area {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.about-us-form {
    margin: 5rem 0;
    border: solid 0.1rem #F2F2F2;
    border-radius: 0.25rem;
    padding: 1rem 1rem 2rem 1rem;
}

.about-us-form label {
    margin-bottom: 0.5rem;
}

.about-us-form input[type=text], .about-us-form textarea {
    display: block;
    max-width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.form-name, .form-email {
    height: 2rem;
    border-radius: 0.3rem;
}

.small {
    font-size: 0.8rem;
    font-style: oblique;
    color: #7EB3FF;
    margin: 0.3rem 0;
}

.submit-button {
    background: #7EB3FF;
    color: #ffffff;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color, ease-in 0.3s, font-size ease-in 0.1s;
}

.submit-button:hover {
    color: #004085;
    cursor: pointer;
}

.submit-button:active {
    font-size: 0.8rem;
}


@media only screen and (max-width: 720px) {
    .about-us {
        padding-top: 300px;
    }
}



/**********************************************************************
Terms and conditions Page
**********************************************************************/

/**********************************************************************
terms section
**********************************************************************/
.terms .container {
    max-width: 980px;
}

.terms {
    padding: 200px 1rem 2rem 1rem;

}

.terms h2, .terms p {
    padding: 1rem 0;
}

@media only screen and (max-width: 720px) {
    .terms {
        padding-top: 300px;
    }
}



